nav.top-nav {
  background-color: white;
  height: 60px;
}

nav.top-nav ul li {
  height: 60px;
  line-height: 60px;
  float: left;
}

nav.top-nav ul li a {
  display: inline-block;
  height: 60px;
}

nav.top-nav ul li img {
  width: 150px;
}

/*

  white-space: nowrap;
  vertical-align: middle;

  li {
    color: #868686;
    font-size: 15px;
  }

  img {
      width: 105px;
  }
}

}
*/
