@charset "UTF-8";
div.container {
  padding: 15px;
  margin: 0;
  /*css 주석스타일도 사용할 수 있음*/
}

div.container > p#main-title {
  font-size: 16px;
  font-weight: bold;
}

div.container > .fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
