html {
  font-size: 16px;
}
body {
  font-size: 0.9rem; /*부모(맨위의 폰트사이즈)의 0.9비율로 적용*/
  margin: 0;
  padding: 0.7rem;
}

a {
  color: #0275d8;
  text-decoration: none;
  /* 밑줄없애기*/
}

#time {
  text-align: right;
}

ul, ol {
  -webkit-padding-start: 20px;
}

.link-container * {
  vertical-align: middle;
}

.link-container img.arrow {
  height: 22px
}

table.wiki-table {
  /*반응형으로 - 좌우 여백을 auto로 준다.*/
  margin: 0 auto;
  border: 2px solid #b38b6e;
  background-color: #f5f5f5;
  align-content: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table.wiki-table tr td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

/*테이블데이터 중 tr의 td에 1번째 자식*/
table.wiki-table tr td:nth-child(1) {
  background-color: #b38b6e;
  color: white;
}

/*엔터가 가능하도록*/
table.wiki-table tr td:nth-child(2) {
  white-space: pre-line;
}

/*첫번째 자식은 배경색이 갈색으로 처리되지 않게*/
table.wiki-table tr:nth-child(1) td {
  background-color: white;
}

table.wiki-table tr td img {
  max-width: 100%;
}

.history-index {
  border: 1px solid #ccc;
  padding: 12px 20px 18px 20px;
  margin-left: 5px;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.history-index ol:nth-child(2) li {
  margin-left: 10px;
}

.video-intro * {
  vertical-align: top;
}

.video-intro hr {
  border-top: 1px solid #dddddd;
}

.blockquote {
  white-space: pre-line;
  line-height: 1.3rem;
  border: 2px dashed #ccc;
  border-left: 5px solid #71BC6D;
  padding: 10px;
}

.blockquote p {
  margin: 0;
}
